*{
  margin:0px;
}

html{
  height:100%;
  width:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../image/background2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:100%;
  align-items: center;
  display: flex;

}

.container{
  position: relative;
  background-image: url("../image/container_background.jpg");
  background-size:cover;
  width:75%;
  height: 75%;
  margin:auto;
  bottom: 5%;
  border-radius: 20px;
}

#gameboard_1{
  width:42%;
  margin:2.5% 2.5% 2.5% 2.5%;
  height:90%;
  float: left;
  background-color:rgb(255, 255, 255, 0.3);
  border-radius: 3%;
  align-items: center;
  display: flex;

}

#gameboard_2{
  width:42%;
  margin:2.5% 2.5% 2.5% 2.5%;
  height:90%;
  float:right;
  background-color:rgb(255, 255, 255, 0.3);
  border-radius: 3%;
  align-items: center;
  display: flex;

}

#gameboard_player1{
  width:80%;
  height:80%;
  margin:auto;

}
#gameboard_player2{
  width:80%;
  height:80%;
  margin:auto;

}


table, tr, td{
  border:solid black 3px;
  border-collapse: collapse;
}

table{
  background-image: url("../image/table_background.jpg")
}

aside{
  position: absolute;
  float: left;
  margin-left:2%;
}

button{
  display:block;
  background-color:black;
  color:green;
  width: 100px;
  height: 30px;
  cursor:pointer;
  text-align:center;
  margin-top:10%;
  margin-left:5%;

}

#status{
  background-color: rgb(0,0,0, 0.5);
  width: 50%;
  height:10%;
  border: sollid black 2px;
  position: absolute;
  top:85%;
  left:25%;
}

#statusbar{
    display:inline-block; 
    vertical-align: middle; 
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(40, end);
    letter-spacing: .1em;
    color:greenyellow;
}




a {
  color: #00B7FF;
}




